/* App.css */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  font-size: 20px;
  color: #333;
}

.error {
  font-size: 20px;
  color: red;
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 20px 0;
  height: -webkit-fill-available;
}

.chart {
  flex-basis: 48%; /* or any desired percentage */
  margin-bottom: 20px; /* optional, for spacing */
}

@media (max-width: 768px) { /* adjust breakpoint as needed */
  .chart {
    flex-basis: 100%;
    max-width: 100%;
  }
}